body{
    text-align: center;
   
}

.quadrado{
    text-align: center;
    width: 40px;
    background: #eee;
    display: inline-block;
    padding: 35px;
    font-size: 40px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}
.placar{
    font-size: 20px;
    margin-top: 5px;
}
button{
margin-top: 5px;
width: 100px;
height: 30px;
cursor: pointer;
}